@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "URL Shortener";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ryan Moody<br />
    Dublin, Ireland<br />
    ryanm226@gmail.com
</address>